/**
 * File Changes Styles
 */
#adminmenu {
	#toplevel_page_wfcm-file-changes {
		a.wp-has-current-submenu {
			.update-plugins {
				background-color: #ea683c;
			}
		}
	}
}

.tablenav {
	.actions {
		padding: 0;
		margin: 3px 0 9px;
	}

	.tablenav-pages {
		.button,
		.tablenav-pages-navspan,
		.paging-input {
			margin-left: 4px;
		}
	}
}

.tablenav-pages {
	.current-page {
		width: 30px;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}

.wp-list-table {
	.column-event-name {
		width: 20%;
	}
	.column-content-type {
		width: 12%;
	}
	.column-event-action {
		width: 12%;
	}
	.column-event-exclude {
		width: 14%;
	}
	.column-event-content {
		width: 25px;
	}

	td {
		.content-type {
			display: inline-block;
			width: 100px;
			color: #fff;
			padding: 2px;
			text-align: center;
		}

		.directory {
			background: #35ad68;
		}

		.file {
			background: #a81cb9;
		}

		.btn-event-content {
			background: none;
			border: none;
			cursor: pointer;
			padding: 0;

			&:focus {
				outline: 0;
			}

			span {
				font-size: 23px;
				width: 23px;
				height: 23px;
			}
		}
	}
}

.wfcm-modal-header {
	display: flex;
	border-bottom: 1px solid #efefef;
	padding: 0 16px;
	margin: 0 -16px;
	margin-bottom: 16px;
	height: 60px;
	align-items: center;
	justify-content: space-between;

	h2 {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}

	.logo {
		display: inline-block;
		width: 40px;
		vertical-align: middle;
		margin-right: 5px;
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		background: #fff;
		padding: 0;
	}
}

.wfcm-modal-body {
	max-height: 500px;
}

.wfcm-modal-body--scrollable {
	overflow-y: scroll;
}
